.gallery {
  padding: 80px 0;
  .gallery__heading {
    display: flex;
    gap: 17px;
    margin-bottom: 18px;
    align-items: center;
    @media #{$phone} {
      display: grid;
      grid-template-columns: 1fr ;
      gap:20px
    }
    .gallery__title {
      font-family: $primary-family;
      font-weight: 600;
      font-size: 30px;
      line-height: 1.88;
      color: $primary-text;
    }
    a {
      font-family: $primary-family;
      font-weight: 500;
      font-size: 25px;
      line-height: 0.94;
      color: $primary-alt;
      svg {
        width: 13px;
        margin-left: 7px;
        fill: $primary-text;
        transform: rotate(-90deg);
        &:hover {
          fill:#1B2334;
        }
      }
      &:hover {
        color:#999999;
      }
    }
  }
}

.gallery__lists {
  display: flex;
  max-width: $container;
  width: 100%;
  justify-content: space-between;
  @media #{$phone} {
    display: grid;
    grid-template-columns: 1fr ;
    gap:20px
  }
  @media #{$tablet} {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap:20px
  }
  .gallery__media {
    img {
      max-width: 242px;
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
  }
}
